.Rproj.user
.Rhistory
.RData
.Ruserdata
.xlsx
.exe
.htp
.obj
.rep

SCAA_1.cpp
SCAA_1.exe
SCAA_1.htp
SCAA_1.obj

SCAA/SCAA.Rproj
SCAA/SCAA_1/SCAA_1.Rproj
SCAA/SCAA_1/SCAA_1.dat
SCAA/SCAA_1_sim_data.RDS