.Rproj.user
.Rhistory
.RData
.Ruserdata
.xlsx
.exe
.htp
.obj
.rep

SCAA_1.cpp
SCAA_1.exe
SCAA_1.htp
SCAA_1.obj

SCAA/SCAA.Rproj
SCAA/SCAA_1/SCAA_1.Rproj
SCAA/SCAA_1/SCAA_1.dat
SCAA/SCAA_1/SCAA_1_sim_data.RDS
SCAA/SCAA_1/SCAA_1.log
SCAA/SCAA_1/fmin.log

SCAA/SCAA_1/SCAA_1.b01
SCAA/SCAA_1/SCAA_1.bar
SCAA/SCAA_1/SCAA_1.cor
SCAA/SCAA_1/SCAA_1.eva
SCAA/SCAA_1/SCAA_1.p01
SCAA/SCAA_1/SCAA_1.par
SCAA/SCAA_1/SCAA_1.r01
SCAA/SCAA_1/SCAA_1.rep
SCAA/SCAA_1/SCAA_1.std
SCAA/SCAA_1/admodel.cov
SCAA/SCAA_1/admodel.dep
SCAA/SCAA_1/admodel.hes

SCAA/SCAA_1_sim_data.RDS

